/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    background-color: #F3FFFF;
}
.home_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0PX auto;
    height: 700px;
border: 3px solid red;
}
.home_page>*{
    padding: 10PX;
    margin: 10PX;
    border-radius: 10px;
}